*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 80%;
    height: 100%;
    margin: auto;
}
#header{
    margin-top: 10px ;
    background-color: #99ddff;
}
#header_middle_box{
    padding: 20px;
    text-align: center;
    width:30%;
    margin: auto;
}
#slogan{
    margin: 0px 0px 0px 0px ;
}
#menu_bar{
    background-color: cadetblue;
}
td{
    padding: 5px;
    border-right-color: blueviolet;
    border-right-style: solid;
    border-right-width: 1px;
}
#container{
    margin-top: 10px;

}
.menu_header{
    padding:10px;
    background-color:#99ddff;
    font-weight: 600;
    font-size: 1.2em;
}
ul{
    list-style: none;
}
#left{
    width:19%;
    float: left;
}
li{
    padding: 10px 25px;
    background-color:#cceeff ;
    margin-top: 5px;
}
#new_block{
    margin-top: 20px;
}
.box_border{
    border-style: solid;
    border-width: 5px;
    border-color: #b3e6ff;
    border-radius: 10px;
}
#book_content{

}
#middle{
    margin: 0px 0px 0px 2%;
    float: left;
    width:58%;
    //background-color: red;
    font-size: 1.1em;
}
#middle img {
    margin: 20px 0px 0px 0px ;
}
#middle > p{
    padding: 5px;
}
<!-- why this is not working -->
<!-- if total spceing count then it exceed  how this possibe -->
#middle > p:first-child {
    margin-top:10px;
    background-color: red;
}

#right{
    width:19%;
    float: left;
    margin:0px 0px 0px 2%;
}
#submit_box{
    padding:5px;
    margin: 0px 0px 5px 5px;
    border-radius: 5px;
}
#input_box{
    padding:5px;
    margin: 5px;

}
#categories_box{
    margin-top:20px;
}
#categories_content{
    padding:5px;
}
#archives_box{
    margin-top: 20px;
}
#archives_content{
    padding: 5px;
}
#footer{
    clear:both;
    background-color: #b3e6ff;
}

.footer_content_box{
    padding:5px;
    margin: auto;
    width:30%;
    text-align: center;
}

#footer_table{
    width:20%;
}